*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*generales*/
body{
    background-color: rgb(237, 249, 255);
}
.container{
    display: flex;
    border-spacing: 2em;
}
.titulo-de-seccion{
    text-align: center;
}
a.logo{
    font-family: 'Sriracha', cursive;
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(252, 250, 249);
    float: left;
}
/*movil*/
/*header*/

.header{
    background-color: #6870db;
  display: flex;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  height: 2em;
justify-content: space-between;
position: fixed;
z-index: 1;
}


.boton-buscar{
display: none;
}

.buscar{
    height: 2em;
    border-radius: 25em;
    border-spacing: 0.5em;
    border-style: none;
    margin-top: 0.2em;
}

.sub-menu a i{
    color: rgb(241, 241, 241);
}

/*burguer menu*/

.burguer-menu span{
    margin-top: 0.2em;
    width: 10px;
    height: 5px;

}
#menu-on{
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 2;
}
#menu-on span{
    width: 100%;
    height: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    background: #fff;
    transition: all 0.25s ease; /*Animacion /tiempo/tipo de animacion*/
    transform-origin: 0px 100%;
}
#menu-on span:nth-child(2){
    top:calc(50% -2px);
}
#menu-on span:nth-child(3){
    bottom: 0;
}
.navegador-principal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    z-index:1;
    padding: 90px 30px 30px;
    background: #6870db;
    opacity: 0;
    transition: all 0.75s ease;
    font-size: 1.2em;
    overflow-y: auto;
}

.navegador-principal ul li{
    list-style: none;
}

.navegador-principal a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgba(255,255,255,0.75);
	transition: all ease 0.25s;
}
.navegador-principal a:hover{
    color:rgba(255,255,255,1);
	border-bottom-color:rgba(255,255,255,0.4);
}
.visible_menu span:nth-child(1){
	transform: rotate(45deg) translate(-2px,1px); 
}
 
.visible_menu span:nth-child(2){
	opacity: 0;
}
 
.visible_menu span:nth-child(3){
	transform: rotate(-45deg) translate(-3px,3px); 
}
.visible_menu nav{
	left: 0;
	opacity: 1;
}


.visible_menu #content{
      transform: translateX(260px);
}
/*slider*/

.carousel-container{
    width: 95%;
    margin: auto;
    border-bottom: 2px solid rgb(211, 211, 211);
    overflow: hidden;
    position: relative;
   z-index: 0;
}
.carousel-slide{
    display: flex;
    width: 100%;
    height: 200px;
  z-index: 0;
}

#prevBtn{
    position: absolute;
    top: 50%;
    bottom: 50%;
    z-index: 2;
    left: 5%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 50%;
    bottom: 50%;
    z-index: 2;
    right: 5%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    cursor: pointer;
}

/*opciones de pago*/
.opciones-de-pago{
    overflow: hidden;
    text-align: center;
    margin-top: 1em;
    border-radius: 1.5em;
}
.mediosDePago{
    width: 95%;
    height: 6em;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    font-size: 1em; 
    padding: 1.5em;
}
.mediosDePago a{
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(22, 22, 22);
}


.opciones-de-pago-desktop{
    display: none;
}
/*categorias*/
.promo-text{
    background-color: rgb(255, 255, 255);
    margin: 1em;
margin-left: auto;
margin-right: auto;
display: inline-block;
}
.promo-cards img{
    width: 80%;
}

